<div class="chip-list-wrapper">
    <form class="example-full-width">
        <input class="search-input" type="text" [placeholder]=text [matAutocomplete]="auto" [formControl]="projectControl" #projectInput>
    </form>
    
    <mat-autocomplete class="autcomplete" #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option  *ngFor="let project of filteredProjects | async" [value]="selectedProjects">
            <div (click)="optionClicked($event, project)">
                <mat-checkbox class="checkbox" [checked]="project.selected" (change)="toggleSelection(project)" (click)="$event.stopPropagation()">
                    {{ project.project_name}}
                </mat-checkbox>
            </div>
        </mat-option>
    </mat-autocomplete>


    <div class="selections">

        <div class="chip" *ngFor="let project of selectedProjects">
            {{ project.project_name }}
            <button (click)="toggleSelection(project)">x</button>
        </div>
</div>
 

</div>






