body {
   background-color:var(--background-color);
    width:100vw;
    display:inline-block;
    min-height: 100vh;
    height: 100%;
    color:black;
    padding:20px;
}

.buttons {
  
  display: inline-flex;
  margin:5px 0px;
  padding:0px;
  height: 100%;
  justify-content: space-between;

}
#edit-button {
  background-color: transparent;
  border:none;
  margin:5px 7px;
  width:15px;
  height:15px;
}
#delete-button {
  background-color: transparent;
  border:none;
  margin:5px 7px;
  width:15px;
  height:15px;
}
#add-button {
  background-color: transparent;
  border:none;
  margin:5px 7px;
  width:15px;
  height:15px;
}

#upload-button {
  background-color: transparent;
  border:none;
  margin:5px 7px;
  width:15px;
  height:15px;
}


#extend-button {
  margin-left:5px;
}


table {
  width: 800px;
  background-color: whitesmoke;
  margin-left:150px;
  font-family:arial;

}
tr , th, td {
  color: black;
  font-size: 15px;
  font-weight: 550;
  
}
td, tr {
  color : #555555;
}
th {
  color : black;
}

tr.mat-row:nth-child(odd) {
  background-color: lightgrey
}
/*
.expandable {
  background-color: #F9F9F9;
}
*/

tr.mat-row:hover {
  border:2px solid var(--light-green);

}
tr.mat-header-row {
  text-transform: uppercase !important;
  background-color: white;
}

td {
  margin:auto;

}

th {
  border-bottom : 0.3px solid var(--background-color);
  justify-content: center;
  font-weight: bold;
}

#rubrique-column {
  width:57%;

}
#edit-column {
  padding-left: 20px;
  width:18%;
}
#script-column {
  width:30%;
  padding-left: 20px;

}

mat-icon {
  height:20px;
  width:20px;
  color : #555555;
}
#expand-button mat-icon{
  height:25px;
  width:25px;
  margin:0;
}



.table-buttons {
  display: inline-flex;
  height:40px;
  width: 800px;
  margin-left:150px;
  margin-bottom:10px;
}
.form-inline {
  width:100%;
  height:100%;
  position: relative;
}
.form-control {
  height:100%;
}
.form-control:focus, .btn:focus {
  border-color:var(--light-green);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--light-green);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
#search-icon {
position:absolute;
top:8px;
right:20px;

}
.btn  {
  font-size: 13px;
  height:40px;
  min-width:128px;
  margin:0 5px 0 0;
  font-weight: bold;

}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-outline-primary:hover {
    border-color: var(--light-green);
    background-color: var(--light-green);
    color:white;

}
.btn-outline-primary {
  color:var(--light-green);
  border-color: var(--light-green);
}
.example-tooltip {
  background: var(--light-green) !important;
}



 a.clickable {
  vertical-align: middle;
  width: 80%;
  cursor:pointer;
  color:dodgerblue !important;
  max-height: 100%;
  text-decoration: none;
  pointer-events:all
}
a {
  color:black;
  padding: 5px;
  pointer-events: none;

}



