body {
    background-color:var(--background-color);
    width:100%;
    display:inline-block;
    height: 100vh;
    color:black;
    padding:20px;
    overflow: scroll;
}

.buttons {
  
  display: inline-flex;
  margin:0px;
  padding:0px;

}
#edit-button {
  background-color: transparent;
  border:none;
  margin:2px;
}
#delete-button {
  background-color: transparent;
  border:none;
  margin:2px;
}
#add-button {
  background-color: transparent;
  border:none;
  margin:2px;
}
#change-parent-button {
  background-color: transparent;
  border:none;
  margin:5px;
}

#extend-button {
  margin-left:5px;
}


table {
  width: 60%;
  background-color: white;
  margin-left:150px;
  

}
tr , th, td {
  color: black;
  font-family: 'Raleway';
  font-size: 17px;
}
td{
  height:20px;
}
/*tr:nth-child(even) {
  background-color: #F9F9F9
}
*/
.expandable {
  background-color: #F9F9F9;
}
td:hover {
  border:2px solid var(--light-green);

}
td {
  margin:auto;
  border-bottom: 0.5px solid grey;

}

th {
  border-bottom : 0.3px solid var(--background-color);
  justify-content: center;
  font-weight: bold;
}

#rubrique-column {
  width:90%;

}
#edit-column {
  padding-left: 20px;
}

mat-icon {
  height:20px;
  width:20px;
}
#expand-button mat-icon{
  height:25px;
  width:25px;
  margin:0;
}
 th, td {
  border:0.5px solid grey;
}


.table-buttons {
  display: inline-flex;
  height:40px;
  width: 60%;
  margin-left:150px;
  margin-bottom:10px;
}
.form-inline {
  width:100%;
  height:100%;
  position: relative;
}
.form-control {
  height:100%;
}
.form-control:focus, .btn:focus {
  border-color:var(--light-green);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--light-green)
}
#search-icon {
position:absolute;
top:8px;
right:20px;

}
.btn  {
  font-size: 13px;
  height:40px;
  min-width:128px;
  margin:0 5px 0 0;
  font-weight: bold;

}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-outline-primary:hover {
    border-color: var(--light-green);
    background-color: var(--light-green);
    color:white;

}
.btn-outline-primary {
  color:var(--light-green);
  border-color: var(--light-green);
}
.example-tooltip {
  background: var(--light-green) !important;
}

