@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', sans-serif;
  font-weight:lighter;
  font-size: 16px;
}
.container {
  height: 100%;
  background: #242932;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 0 10px 10px;
  width: 250px;
  height:100%;
  overflow: hidden;
}

ul li {
  list-style: none;
  padding-right: 0;
  padding-top:7px;
  padding-bottom:7px;
  color: white;
  font-size: 13px;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: left;
  vertical-align: middle;
  padding-left:10px;
  width:190px;
  float: left;

}

ul li:hover {
  opacity:0.4;
}
ul li.active:hover {
  opacity: 1;
}

ul li.active:before {
  content: '';
  position: absolute;
  top:-20px;
  right: 0px;
  width: 20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px 10px 0 whitesmoke;
}

ul li.active:after {
  content: '';
  position: absolute;
  bottom:-20px;
  right: 0px;
  width: 20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px -10px 0 whitesmoke;

}

ul li.active {
  background: whitesmoke;
  color:black;
  margin-top:15px;
  margin-bottom: 15px;
}
.active .submenu .icon {
  color : black
}

.icon {
  height:30px;
  vertical-align: middle;
  margin-right: 5px;


}

.child {
  text-align: left;
  width:170px !important;
  padding:0;
}
.child span {
  font-size: 13px;
  color:black;
  text-transform: capitalize;
}

.submenu {
  background: transparent;
}
