<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet"> 




<ng-container class="container" *ngIf="role=='COLLABORATOR'">
  <ul >

    <li *ngFor="let item of menu_collaborateur " class="active" [ngClass]="{'active': selection===item.name}" (click)="selection=item.name" routerLink="/{{item.route.toLowerCase()}}" >
      <mat-icon class="icon">{{item.icon}}</mat-icon> <span> {{item.name}}</span>
     <br>
      <ul *ngIf="item.children" class="submenu">
        <li class="child" *ngFor="let child of item.children">
          <mat-icon class="icon">{{child.icon}}</mat-icon> <span> {{child.name}}</span>
        </li>
      </ul>
    </li>
    
    
  </ul>

  
  
</ng-container>


<ng-container class="container" *ngIf="role=='ADMIN'">
  <ul >

    <li *ngFor="let item of menu_admin " class="active" [ngClass]="{'active': selection===item.name}" (click)="selection=item.name" routerLink="/{{item.route.toLowerCase()}}" >
      <mat-icon class="icon">{{item.icon}}</mat-icon> <span> {{item.name}}</span>
     <br>
      <ul *ngIf="item.children" class="submenu">
        <li class="child" *ngFor="let child of item.children">
          <mat-icon class="icon">{{child.icon}}</mat-icon> <span> {{child.name}}</span>
        </li>
      </ul>
    </li>
    
    
  </ul>

  
  
</ng-container>


<ng-container class="container" *ngIf="role=='MANAGER'">
  <ul >

    <li *ngFor="let item of menu_manager " class="active" [ngClass]="{'active': selection===item.name}" (click)="selection=item.name" routerLink="/{{item.route.toLowerCase()}}" >
      <mat-icon class="icon">{{item.icon}}</mat-icon> <span> {{item.name}}</span>
     <br>
      <ul *ngIf="item.children" class="submenu">
        <li class="child" *ngFor="let child of item.children">
          <mat-icon class="icon">{{child.icon}}</mat-icon> <span> {{child.name}}</span>
        </li>
      </ul>
    </li>
    
    
  </ul>

  
  
</ng-container>


<ng-container class="container" *ngIf="role=='ACCOUNTANT'">
  <ul >

    <li *ngFor="let item of menu_accountant " class="active" [ngClass]="{'active': selection===item.name}" (click)="selection=item.name" routerLink="/{{item.route.toLowerCase()}}" >
      <mat-icon class="icon">{{item.icon}}</mat-icon> <span> {{item.name}}</span>
     <br>
      <ul *ngIf="item.children" class="submenu">
        <li class="child" *ngFor="let child of item.children">
          <mat-icon class="icon">{{child.icon}}</mat-icon> <span> {{child.name}}</span>
        </li>
      </ul>
    </li>
    
    
  </ul>

  
  
</ng-container>

<ng-container class="container" *ngIf="role=='PROJECT_MANGER'">
  <ul >

    <li *ngFor="let item of menu_project_manager " class="active" [ngClass]="{'active': selection===item.name}" (click)="selection=item.name" routerLink="/{{item.route.toLowerCase()}}" >
      <mat-icon class="icon">{{item.icon}}</mat-icon> <span> {{item.name}}</span>
     <br>
      <ul *ngIf="item.children" class="submenu">
        <li class="child" *ngFor="let child of item.children">
          <mat-icon class="icon">{{child.icon}}</mat-icon> <span> {{child.name}}</span>
        </li>
      </ul>
    </li>
        
  </ul>
   
</ng-container>


