.profile {
    background-color:var(--background-color);
    width:84%;
    height: 100vh;
    color:black;
    margin:10px;
}
mat-grid-tile {
    background: #fff;
    border-radius: 5px;
    color:black;
    
    
}
.wrapper {
    width:100%;
    height:100%;
    margin:0px;
    padding:15px;
    position: relative;
    
}


.circle {
    border:2px solid #003366;
    border-radius: 50%;
    height:100px;
    width:100px;
    margin:auto;
    padding:0;
    overflow: hidden;
    background: #fff;


}
.header {
    font-size: medium;
    text-align: center;
    margin:20px 10px 10px 10px;
    color:#003366;
    
}
.header h5{
    padding:0;
    margin:0;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:100px;
    margin-top:20px;
    padding:20px;
}

.skills span {
    /* Created with https://www.css-gradient.com */
background: #2B3DA8;
background: -webkit-linear-gradient(top left, #2B3DA8, #4AA2D3);
background: -moz-linear-gradient(top left, #2B3DA8, #4AA2D3);
background: linear-gradient(to bottom right, #2B3DA8, #4AA2D3);
    color:white;
    border-radius: 3px;
    height:30px;
    padding:3px;
    height:20px;
    line-height:100%;
    font-weight: bold;
    font-size: 12px;
    margin:2px;
    font-family: 'Lato';

}
.title{
    width:100%;
    vertical-align: middle;
    height:30px;
    line-height: 30px;
    color:gray ;
    letter-spacing: 2px;
    padding-left:15px;
    text-transform: uppercase;
    letter-spacing: 2px;
 
 }
 .buttons {
     justify-content: right;
     align-items: center;
     display: flex;
     margin:10px;
     width:400px;
     height:30px;
     bottom: 0;
     right:0;
     position: absolute;


 }


 .info {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: left;
     width:100%;
     

 }
 .container {
     height:75px;
     width:48%;
     line-height: 30px;
     overflow: hidden;
     font-family: 'Lato';
     margin:0px;
 }

 .attribute {
     font-weight: 600;
     font-family:'Lato';
     width:100%;
     padding-left: 2px;
     color: #003366 ;
 }
 .value {
    border-radius: 4px;
    background-color: var(--light-grey);
    height:40px;
    width:100%;
    display: block;
    padding:10px;
    line-height: 19px;
    text-transform:capitalize;
    border:1px solid var(--background-color);
    overflow: scroll;
    scrollbar-width: none;
    font-family: 'Lato';
    color:black;

 }
 


 table {
    width: 100%;
    max-height: 150px;

    background:white;
    font-family: 'Lato';
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    
  }

  
  td, th {
    width: 25%;
    color:black;
  }
  .mat-header-cell {
    color: #003366 ;
    font-weight: bold;


  }
  .mat-header-row {
    height:20px !important;
      background-color: var(--light-green);
     
  }
  .mat-row:hover {
      background-color: var(--light-green) !important;
      font-weight: 600;
  }
  .mat-row:hover > .mat-cell {
    color:  white
  }
  
 
  .filter {
      margin-bottom: 10px;
  }

.filter input{
    border:1px solid green;
    padding-left:3px;
    width:90%;
    font-weight: normal;
    margin: auto;

}

mat-paginator {
    background-color: transparent;
    color:black
}

.mat-row:hover {
    background-color: var(--light-green);
    color:white !important;

}


.search-box {
    width: 100%;
    border:1px solid var(--light-green);
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin:4px auto;
    height:40px;
  
   
  }
  .search-box input {
    width:85%;
    border: none;
    font-family: 'Montserrat', sans-serif;
  }
  .bi-search {
    margin:5px;
  }
  .search-box textarea:focus, input:focus{
    outline: none;
  }


  .edit-btn{
        background-color: #003366 ;

        font-weight: bold;
        color:whitesmoke
  }

  .save-btn {
    background-color:var(--light-green);
    font-weight: bold;
    color:whitesmoke;
    margin:8px;

  }
 