/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* for calendar */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
    --light-green:#78C848;
    --light-grey:#E6E6E6;
    --background-color:#F2F2F2;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
  }

  mat-dialog-content{
      background-color: white !important;
      color:black !important;
      margin:0px !important;
      padding: 0px !important;
      font-family: 'Lato', sans-serif !important;
      position:relative !important

  }

  mat-dialog-container {
      background-color: white !important;
      margin:0px !important;
      padding:0px !important;
      overflow: hidden !important;
      font-family: 'Lato', sans-serif !important;
      position:relative !important;
      border-radius: 10px !important;
  }
  .mat-progress-bar-fill::after {
    background-color:var(--light-green) !important;
  }
  .mat-progress-bar-buffer {
    background: white !important;
}
.mat-tooltip {
    background: var(--light-green) ;
    font-size: 13px;
}

tr.mat-row {

    height: 10px !important;
    }

    .my-panel-class  .group {
      background-color: #fff !important;
      color: black;
    } 
     
    


    
.center-div {
        text-align:center;
        width: 50%;
        margin: 0 auto
      }
      
      .mat-form-field-flex {
        background-color: #ffffff !important;
      }
      
      .mat-card-header-text {
        margin: 0 0px !important;
      }
      
      .mat-card-header {
        font-size: 16pt;
        margin-bottom: 30px;
      }
      
      .card-content {
        font-size: 12pt;
      }

      mat-card {
        background-color: white !important;
      }

    
      .tag {
        color:white ;
        border-radius: 3px;
        font-size: 10px;
        font-weight: bold;
        padding:3px 3px 2px;
        margin-right:5px;
        font-family: lato;
         text-transform: uppercase;
         box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
      .bug {
        background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%) !important;
      
      }
      .testing {
        background: linear-gradient(to right, rgba(129,166,16,1) 0%, rgba(95,150,44,1) 100%);
      
      }
      .issue {
        background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
      }
