
.navigation-bar {
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
}
.elements {
  width:500px;
  max-height: 50px;
  min-width: 200px;


}
.elements .search-box {
  width: 100%;
  border:1px solid var(--light-grey);
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin:5px;
  height:40px;

 
}
.search-box input {
  width:85%;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
.bi-search {
  margin:5px;
}
.search-box textarea:focus, input:focus{
  outline: none;
}

.user-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  max-height: 50px;
  width:150px;
}
.user-buttons div {
  margin:10px;
}
.logo-div {
  max-height: 50px;
  max-width: 200px;
  display: inline-flex;
  overflow: hidden;
}
.logo-div img{
  width:80%;
}
.logo-div .toggle-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;  
    margin:auto;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}



.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:200px;
  margin-right:40px;
}
.avatar img {
  border-radius: 50%;
}
.name-area {
  text-align: center;
  width:90%;
  padding-left:0px;

}
.avatar img {
  width:35px;
  height:35px;
}
.name-area p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color:var(--light-green);
  margin: auto;
  font-size: 15px;
  text-align: left;
  margin-left:5px;
}

a:hover{
    cursor: pointer;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--light-green)}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* add z index for logout buttons */
.activated {
  color:var(--light-green);
}