@import url('http://fonts.cdnfonts.com/css/aharoni');

.dashboard {
    background-color:var(--background-color);
    height: 100%;
    width:85%;
    padding:20px;
    display:inline-block;
}
.info  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:92%;
    padding:0;
    margin-bottom:20px;
    font-family: 'Raleway';
    color:var(--light-grey) !important;
}
.charts {
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: space-between;
    margin-bottom: 20px;
    padding:0 15px;
    

}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    padding:0;
    margin-bottom:20px;
    font-family: 'Raleway';
    color:var(--light-grey) !important

    
}
.box {
    margin:auto;
    height:75px;
    width:22%;
    padding:auto;
    display: inline-flex;
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    border-radius: 2px;
    

}
.box mat-icon {
    display: block;
    margin:auto;
    width:50px;
    height:50px;
    text-align: center;
    padding:auto;
    font-size:50px;
    color:var(--light-grey) !important
}
.box .info {
    width:50%;
    padding:5px;
    margin:0;
}
.box .info h5 {
    margin: 0;
    padding:0;
    vertical-align: middle;
    display:table-cell;
    height:75px;
}
.box .info small {
    font-size: 18px;
}

.widgets {
    padding:0;
    width:103%;
}

table {
    margin:10px;
    width: 98%;
    background: white;
    text-align: center;
    text-transform: capitalize;

  }
 th,td,tr {
    color:black;

}
tr mat-row {
    border: 1px solid black !important;

}
th {
    text-align: center;
    font-family: 'tahoma';
    font-weight:lighter !important;
    padding:1px;
    font-size: 10px;
    color:white !important;
    font-weight: bolder !important;



}

 .mat-header-row {
    height:40px !important;
    background-image: linear-gradient(to bottom, rgb(141, 194, 111), rgb(118, 184, 82));    
}

td {

    padding:0 !important;
  text-align: center;
  font-size: 10px;
  font-weight: bold;  
}
.td-rubrique {
    text-align: left !important;
}
.value-column {
    width:55px !important;
    text-align: center !important;
}
 td.td-rubrique {
font-size: 12px;
font-weight: 500;
}
#parameters-column {
    width:70px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding:0;
}



.mat-row:hover {
    height:30px !important;
    background: var(--light-grey);
}