<div class="dashboard">
<div class="boxes">
    <div class="box">
      <mat-icon>device_hub</mat-icon>
      <div class="info">
          <h5>12
            <br>
            <small>Projects</small>
          </h5>
          
      </div>
    </div>
    <div class="box" style="background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);">
      <mat-icon>people</mat-icon>
      <div class="info">
          <h5>9
            <br>
            <small>Clients</small>
          </h5>
          
      </div></div>
    <div class="box" style="background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);">
      <mat-icon>work</mat-icon>
      <div class="info" >
          <h5>25
            <br>
            <small>Workforce</small>
          </h5>
          
      </div>
    </div>
    <div class="box" style="background: linear-gradient(to right, rgba(129,166,16,1) 0%, rgba(95,150,44,1) 100%);" >
      <mat-icon>show_chartr</mat-icon>
      <div class="info">
          <h5>+3.5%
            <br>
            <small>Growth</small>
          </h5>
          
      </div>
    </div>

  </div>
  <div class="charts">
    <app-widget-pie ></app-widget-pie>
    <app-widget-area></app-widget-area>


  </div>

  <div class="widgets">
    <app-donut-chart></app-donut-chart>
  </div>


</div>