<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="timesheets" >
    <mat-card class="parameters">
        <div class="filter project-filter">
            <label for="">project filter</label>
            <div class="select-dropdown" >
                <mat-select  panelClass="myPanelClass" disableOptionCentering placeholder="Projects" [formControl]="projectsControlForm" multiple class="select">
                     <mat-option (click)="project.selected=!project.selected" class="option" *ngFor="let project of projects" [value]="project">{{project.project_name}}</mat-option>              
                </mat-select>
            </div>
        </div>
                
           <div class="filter task-filter">
            <label for="">task filter</label>
               <div class="select-dropdown">
                <mat-select class="select" [formControl]="tasksFormControl" multiple panelClass="myPanelClass" disableOptionCentering>
                    <mat-option class="option" [value]="1" (click)="selectAllTasks(ev_tasks)"   
                    #ev_tasks> SelectAll</mat-option>
                   <mat-optgroup class="group" *ngFor="let group of filterTasks()"   [label]="group.project.project_name"
                             [disabled]="group.disabled">
                             {{group.tasks |json}}
                 <mat-option (click)="task.selected=!task.selected" class="option" *ngFor="let task of group.tasks" [value]="task">
                   {{task.task_name}}
                 </mat-option>
               </mat-optgroup>
                  </mat-select>

               </div>
              
               
           
        
        </div>

        <div class="filter groupby-filter">
            <label for="">group by</label>
            <div class="select-dropdown" >
                <mat-select class="select" [formControl]="groupByFormControl" panelClass="myPanelClass" disableOptionCentering >
                    <mat-option class="option"  [value]="'task'">Task</mat-option>
                    <mat-option class="option" selected [value]="'project'">Project</mat-option>
                </mat-select>
            </div>
        </div> 

        <div class="filter date-filter">
            <label for="">date filter</label>
            <br>
            <div class="container">
                <label for="dp1"><strong>From :</strong> </label>
                <div class="date">
                    <input class="mat-input"  [formControl]="dateFormControl" [matDatepicker]="dp1" [(ngModel)]="date"  placeholder="MM/DD/YYYY">
            
                      <mat-datepicker-toggle class="date-btn" matSuffix [for]="dp1" style="background: rgba(109,0,25,1);">
                        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #dp1 disabled="false" class="picker" ></mat-datepicker>
            
            
            
                  </div>
                
            </div>
           
        </div>
     
              

           
    </mat-card>

    <app-weekly-timesheet [taskGroups]="taskGroups" [current_date]="date"></app-weekly-timesheet>
  
 </div>    
