@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.timesheet {
    background-color:var(--background-color);
     width:100%;
     display:inline-block;
     min-height: 100vh;
     height: 100%;
     color:black;
     padding:0;
     margin: 10px auto;
     text-align: center;
 }
 .current-date { 
    padding:10px 15px;
    margin:0;
    text-align: center;
    background: whitesmoke;
    color:#0a58ca;
 }
    .date-btn {
     margin:5px 10px;
     border-radius: 50%;
     box-shadow: none;
     outline: none;
     border: none;
     height: 24px;
     width:30px;
        cursor: pointer;
    
 }
 
.buttons {
  width:100%;
  margin : 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttons button {
  margin : auto 5px;
  text-align: center;
  height:35px;
  min-width: 90px;
}
.buttons button mat-icon {
  margin:0;
  font-size: 20px;
  color:#2f2f2f;

}
#add-task-btn,#edit-btn, #print-btn {
  background: #fff;
  color:#2f2f2f;
  font-weight: bold;
  border:1px solid #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 14px;
  
}
#add-task-btn {
  margin-left: 0px;

}
#save-btn {
  background: var(--light-green);
  border: 1px solid var(--light-green);
  font-weight: bold;
  font-size: 14px;
  

}

table {
  width:100%;
  font-family: OpenSans-Regular !important;
  font-size: 18px;

}

th {
  color:white;
  line-height: 1.2;
font-weight: unset;
font-size: 14px;
  background-color: #484848;
  letter-spacing: 1px;
}


.mat-column-monday,.mat-column-tuesday,.mat-column-wednesday,.mat-column-thursday,.mat-column-friday,.mat-column-saturday,.mat-column-sunday {
  flex: none;
  width: 100px;
  text-align: center;


}
.mat-column-total,.mat-column-task {
  width:200px;
  padding:0 !important;
  text-align: center;
  position: relative;
  font-weight: bold;
}
.mat-column-task {
  text-align: left;
  padding-left: 20px !important;
}


tr:nth-child(odd) {
  background-color: #FAFAFA ;
}
tr:nth-child(even) {
  background-color:   #fff  ;
}
.table-header:hover,.footer:hover {
  background-color: #fff !important;
}
.footer {
  font-weight: bold;
  background-color: #fff !important;
}
.table-header {
  height:45px !important ;
}
.mat-header-cell {
  line-height: 20px;
}
tr {
  height:40px !important;
}

.data-cell {
  position: relative;
  background: none;
  color:gray ;


}
.input-field {
  width:99%;
  height:40px;
  border:none;
  text-align: center;
  background: transparent;
}
.corner-btn {
  position:absolute;
  top:0;
  right:0;
  width:15px;
  height:15px;
  display: flex ;
  justify-content: center ;
  background: transparent;
  border:none
}
.corner-btn > mat-icon {
  font-size: 10px;
  height:15px;
  width:15px;
}


.tag {
  color:white ;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  padding:3px 3px 2px;
  margin-right:5px;
  font-family: lato;
   text-transform: uppercase;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

 .task-cell > a {
   text-align: left;
   justify-content: space-between;
   font-family: OpenSans-Regular;

   font-size: 14px;
   margin:0;
   padding:0;
   font-weight: bold ;


 }

 .bug {
   background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%) !important;

 }
 .testing {
   background: linear-gradient(to right, rgba(129,166,16,1) 0%, rgba(95,150,44,1) 100%);

 }
 .issue {
   background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
 }

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.break {
  background:  #f3f3f3   !important;
}
.selected {
  outline:2px solid gray;
}
.grouped {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: OpenSans-Regular;

}
/*
.mat-menu-item {
  color: blue !important;
}

button.mat-menu-item{
    background-color: white;
    margin:0;
}
.mat-menu-content {
  margin:0 !important;
  padding:0 !important;
}

button.mat-menu-item:hover {
    background-color: blue;
    color: #fff !important;
}
*/
::ng-deep .mat-menu-content{
  padding:0px !important;
}
::ng-deep .mat-menu-panel {
  min-height:max-content !important;
}

.option {
  height:35px ;
  max-width: 150px;
  line-height: 1;

}

